
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}


.container{
    
    width: 400px;
    margin: 2% auto 0 auto;
    border: 2px solid grey;
   
    

}
#display{
    height: 50px;
    line-height: 60px;
    text-align: right;
    font-size: 30px;
    padding: 16px 8px;
    background-color: grey;
    border: 1px solid white;
    border-radius: 6px;
    overflow: clip;
    
    
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid grey;
    border-top:  1px solid grey;;
    border-left: 1px solid grey;
    background-color: #323330;
    color: white;
}
.buttons > div{
    border-top: 1px solid grey;
    border-right: 1px solid grey;

}
.button {
    border: 0.5px solid #999;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgba(255, 166, 0, 0.349);
    color: black;
}
#equal:hover {
    background-color: rgba(231, 192, 74, 0.849);
    color: white;
}
.button:hover {
    background-color: gainsboro;
    color:black;
    transition: 0.5s ease-in-out;
}